<h1>Input your desired latitude and longitude below</h1>

<label for="latitude">Latitude:</label>

<input type="text" id="latitude" name="latitude" required>

<label for="longitude">Longitude:</label>

<input type="text" id="longitude" name="longitude" required>
